.Loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  &__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid blue;
    border-right-color: transparent;
    animation: anim 1s linear infinite;
  }
}

@keyframes anim {
  to {
    transform: rotate(360deg);
  }
}
