.container-results {
    display: flex;
    align-items: center;
}

.form-container-results {
        width: 300px;
        background: #ffffff;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
}

.title-name-results {
    text-align: center;
    color: white;
    background-color: black;
    font-size: 89px;
}

.title-background-results {
    width: 100vw;
    margin-top: 300px;
    height: auto;
    background-color: black;
}

.film-name-input-results {
    width: 300px;
    margin-right: 20px;
}

.search-film-button-results {
    width: 70px;
}